<h1>Shopping Trip</h1>
  <form action='/checkout' method="POST">
    
    <label for="purchace_item">Purchace Item: </label>
    <input type="text" name="purchace[item]" id="purchace[item]"><br>
    
    <input type="submit" value="submit">
  </form>
    