<h1>Shopping Trip</h1>
<form action='/checkout' method="POST">
  <label for="team_name">Team Name: </label>
  <input type="text" name="team[name]" id="team[name]"><br>
  <label for="team_motto">Team Motto: </label>
  <input type="text" name="team[motto]" id="team[motto]">